.MessageSender{
    display: flex;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 4px 2px 10px #ccc;
    flex-direction: column;
    box-sizing: border-box;
    height: 150px;

}
.MessageSender_top{
    display: flex;
    align-items: center;
    flex: 1;

}
.MessageSender_top form{
    background-color: whitesmoke;
    padding: 10px;
    flex: 1;
    border-radius: 20px;
    margin-left: 10px;

}
.MessageSender_top input{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: 0;
    outline: 0;

}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    margin-top: 5px;
    cursor: pointer;

}
.messagerOption{
    display: flex;
    align-items: center;
    padding: 5px 20px ;
    border-radius: 20px;
    margin-top: 10px;
}
.messagerOption:hover{
    background-color: whitesmoke;

}
.messagerOption p {
    margin-left: 10px;
}
.modal_pop{
    top: 50%;
    background-color: #fff;
    width: 500px;
    margin: 0px auto;
    position: relative;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
}
.modalHeading{
    text-align: center;
    border-bottom: 1px solid lightgray;
    height: 40px;


}
.modalHeading .MuiIconButton-root{
    position: absolute;
    top: 0px;
    right: 5px;
}
.modelHeader_top{
    display: flex;
    padding: 15px 0px;
    align-items: center;
}
.modelHeader_top h5{
    margin-left: 10px;
}
.modalBody textarea{
    width: 100%;
    min-height: 100px;
    border: 0px;
    outline: 0;
    font-size: 25px;
    padding-top: 10px 0px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.modalfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0px 10px;
}
.post_submit{
    width: 100%;
    background-color: #2391fa;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0px;
    font-size: 16px;
    cursor: pointer;
}